<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>实验教学管理系统</title>
		<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
		<script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../static/news/js/main.js"></script>
		<script type="text/javascript" src="../../static/news/js/index.js"></script>
	</head>
	<body>
		<div class="header_con">
			<div class="header">
				<a href="#" class="logo fl"><img src="../../static/news/images/Snipaste_2019-03-21_15-02-41.png" alt="logo"></a>
				<ul class="menu fl">
					<li class="active" data-cid="0"><a href="javascript:;">实验报告</a></li>
					<li data-cid="1"><a href="javascript:;">课程安排</a></li>
					<li data-cid="2"><a href="javascript:;">实验室</a></li>
					<li data-cid="3"><a href="javascript:;">班级</a></li>
					<li data-cid="4"><a href="javascript:;">用户</a></li>
					<li data-cid="5"><a href="javascript:;">考勤信息</a></li>
				</ul>
				<div class="user_btns fr">
					<a href="javascript:;" class="login_btn">登录</a> / <a href="javascript:;" class="register_btn">注册</a>
				</div>
				<!-- 用户登录后显示下面，隐藏上面 -->
				<div class="user_login fr">
					<img src="../../static/news/images/person01.png" class="lgin_pic">
					<a href="#">用户张三</a>
					<a href="#">退出</a>
				</div>
			</div>
		</div>

		<div class="conter_con">

			<div class="report_div">
				<div class="report_title">
					<h3>报告管理</h3>
				</div>
				
				<div class="select_report">
					<label>院系</label>
					<select>
						<option>北京</option>
						<option>上海</option>
						<option>深圳</option>
					</select>
					<label>专业</label>
					<select>
						<option>北京</option>
						<option>上海</option>
						<option>深圳</option>
					</select><br />
					<label>班级</label>
					<select>
						<option>北京</option>
						<option>上海</option>
						<option>深圳</option>
					</select>
					<label>课程</label>
					<select>
						<option>北京</option>
						<option>上海</option>
						<option>深圳</option>
					</select>
				</div>

				<div style="width: 838px;height: 300px;overflow:auto;margin-top: 20px;">
					
					<table cellspacing="0" class="report_con fl">

						<tr class="deepblue">
							<th style="width: 80px;">姓名</th>
                            <th style="width: 130px;">学号</th>
							<th style="width: 300px;">报告名</th>
							<th style="width: 120px;">上传时间</th>
							<th style="width: 80px;">下载报告</th>
						</tr>
						<tr class="white">
							<td class="left">大头</td>
							<td>201530050177</td>
							<td>论我的头为什么这么大</td>
							<td>2077-07-07</td>
							<td><a href="">下载</a></td>
						</tr>
                        <tr class="white">
							<td class="left">大头</td>
							<td>201530050177</td>
							<td>论我的头为什么这么大</td>
							<td>2077-07-07</td>
							<td><a href="">下载</a></td>
						</tr>
                        <tr class="white">
							<td class="left">大头</td>
							<td>201530050177</td>
							<td>论我的头为什么这么大</td>
							<td>2077-07-07</td>
							<td><a href="">下载</a></td>
						</tr>
                        <tr class="white">
							<td class="left">大头</td>
							<td>201530050177</td>
							<td>论我的头为什么这么大</td>
							<td>2077-07-07</td>
							<td><a href="">下载</a></td>
						</tr>
                        <tr class="white">
							<td class="left">大头</td>
							<td>201530050177</td>
							<td>论我的头为什么这么大</td>
							<td>2077-07-07</td>
							<td><a href="">下载</a></td>
						</tr>
                        <tr class="white">
							<td class="left">大头</td>
							<td>201530050177</td>
							<td>论我的头为什么这么大</td>
							<td>2077-07-07</td>
							<td><a href="">下载</a></td>
						</tr>


					</table>
				</div>
				<div class="report_button">
					<a href="javascript:;" class="upload_a">
						<input type="file" name="" id="">点击这里上传文件
					</a>
				</div>

			</div>

			<div class="sign_in_con fr">
				<div class="sign_in_title">
					<h3>签到</h3>
				</div>
				<div align="center">
					<input type="button" class="sign_in_button" value="点击签到" />
				</div>
				<label style="margin-left: 10px;font-size: 20px;">最近签到</label>
				<ul class="sign_in_list">
					<li><span class="first">1</span><a href="#">张老师</a></li>
					<li><span class="second">2</span><a href="#">刘老师</a></li>
					<li><span class="third">3</span><a href="#">马老师</a></li>
					<li><span>4</span><a href="#">皮老师</a></li>
					<li><span>5</span><a href="#">燕老师</a></li>
					<li><span>6</span><a href="#">牛老师</a></li>
				</ul>
			</div>
		</div>

		<div class="footer">
			<div class="footer_links">
				<a href="">关于我们</a>
				<span>|</span>
				<a href="">联系我们</a>
				<span>|</span>
				<a href="">招聘人才</a>
				<span>|</span>
				<a href="">友情链接</a>
			</div>
			<p class="copyright">
				CopyRight © 2018 东华理工大学长江学院 All Rights Reserved<br />
				电话：12345678 京ICP备12345678号
			</p>
		</div>

		<!-- 登录表单 -->
		<form class="login_form_con">
			<div class="login_form">
				<div class="login_title">
					<h3>登 录</h3>
					<a href="javascript:;" class="shutoff"></a>
				</div>
				<div class="form_group">
					<input id="mobile" type="text" name="mobile" autocomplete="off">
					<div class="input_tip">手机号</div>
					<div id="login-mobile-err" class="error_tip">手机号不能为空</div>
				</div>
				<div class="form_group">
					<input id="password" type="password" name="password">
					<div class="input_tip">密码(不少于6位)</div>
					<div id="login-password-err" class="error_tip">密码不能为空</div>
				</div>
				<input type="submit" name="" value="登 录" class="input_sub">
				<div class="down_link">还没有账号？<a href="javascript:;" class="to_register">立即注册</a></div>
			</div>
			<div class="mask"></div>
		</form>

		<!-- 注册表单 -->
		<form class="register_form_con">
			<div class="register_form">
				<div class="register_title">
					<h3>注 册</h3>
					<a href="javascript:;" class="shutoff"></a>
				</div>
				<div class="form_group">
					<input type="text" name="mobile" autocomplete="off" id="register_mobile" class="phone_input">
					<div class="input_tip">手机号</div>
					<div id="register-mobile-err" class="error_tip">手机号不能为空</div>
				</div>
				<div class="form_group">
					<input type="text" name="code_pwd" id="imagecode" class="code_pwd">
					<div class="input_tip">图形验证码</div>
					<img src="../../static/news/images/pic_code.png" class="get_pic_code" onclick="generateImageCode()">
					<div id="register-image-code-err" class="error_tip">图形码不能为空</div>
				</div>
				<div class="form_group">
					<input type="text" name="smscode" id="smscode" class="code_pwd">
					<div class="input_tip">手机验证码</div>
					<a href="javascript:;" class="get_code" onclick="sendSMSCode()">点击获取验证码</a>
					<div id="register-sms-code-err" class="error_tip">验证码不能为空</div>
				</div>
				<div class="form_group">
					<input type="password" name="password" id="register_password" class="pass_input">
					<div class="input_tip">密码(不少于6位)</div>
					<div id="register-password-err" class="error_tip">密码不能为空</div>
				</div>
				<div class="form_group2 clearfix">
					<input type="checkbox" class="agree_input" checked>
					<p>同意使用条款，并已阅读"跟帖评论自律管理承诺书"</p>
					<div class="error_tip">请勾选</div>
				</div>
				<input type="submit" name="" value="注 册" class="input_sub">
				<div class="down_link">已有账号？<a href="javascript:;" class="to_login">立即登录</a></div>
			</div>
			<div class="mask"></div>
		</form>

		<!-- 签到表单 -->
		<form class="sign_in_form_con">
			<div class="sign_in_form">
				<div class="sign_in_form_title">
					<h3>签 到</h3>
					<a href="javascript:;" class="shutoff"></a>
				</div>
				<div align="center">
					<p class="sign_in_success">签 到 成 功</p>
				</div>
				<div align="right" style="margin-top: 80px;margin-right: 18px;">
					<a href="javascript:;" class="sign_in_to_index">返回主界面</a>
				</div>
			</div>
			<div class="mask"></div>
		</form>

	</body>
</html>
